html, body {
    font-family: "Lucida Console", Monaco, monospace;
    margin: 0;
    background-color: #eeeeee;
}

/**** Header tabs ****/

button:focus, button:active {
    outline: none !important;
}

.tablink {
    font-family: "Lucida Console", Monaco, monospace;
    background-color: #ffcc80;
    float: left;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 22px;
    width: 50%;
}

.tablink:hover {
    background-color: #ffb74d;
}

.tabcontent {
    display: none;
    padding: 8em;
    text-align: center;
}

#about-me {background-color: #eeeeee;}
#games {background-color: #eeeeee;}

/**** About me ****/

.img-me {
    width: 230px;
}

.icon-link {
    color: #ffb74d;
    margin: 10px;
}

.icon-link:hover {
    color: #ff9800;
    margin: 10px;
}

.fa-linkedin {
    float: right;
}

.fa-github-square {
    float: left;
}

/**** Games ****/

#potato-wars {background-color: #ef6c00;}
#polar-bear {background-color: #0097a7;}

.top-text {
    font-size: 20px;
}

.article {
    padding: 10px;
    margin: 10px;
    color: #eeeeee;
    width: 90%;
}

.article-header {
    font-size: 36px;
    margin: 10px;
}

.article-content {
    margin: 15px;
}

iframe {
    margin: 10px;
}
